include AUTHORS CHANGELOG COPYING* HACKING DBUS.md BUILDING.md README.md README.FreeBSD.md README.WAYLAND.md
include pyproject.toml
recursive-include packaging *
recursive-include docs *.md
recursive-include i18n *.md *.py
recursive-include native/onboard-native Cargo.toml Cargo.lock
recursive-include native/onboard-native .cargo/*
recursive-include native/onboard-native src/*.rs
recursive-include native/onboard-native vendor *
include *.ui
include onboard-defaults.conf.example
recursive-include data *
recursive-include gnome *
recursive-include help *
recursive-include icons *
recursive-include sounds *
recursive-include emojione/svg *
recursive-include layouts *
recursive-include man *
recursive-include scripts *
recursive-include themes *
recursive-include po *.po
recursive-include Onboard/osk *
recursive-include Onboard/pypredict *
recursive-include Onboard/test *
