#!/usr/bin/make -f

DH_VERBOSE=1
export PYBUILD_NAME=onboard
export PYBUILD_INSTALL_ARGS=--root=$(CURDIR)/debian/tmp
export DEB_BUILD_MAINT_OPTIONS = hardening=+all,-pie

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_clean:
# Don't fail to build from git-buildpackage:
	-dh_auto_clean
	rm -rf build
	rm -rf Onboard/osk*.so
	rm -rf Onboard/pypredict/lm*.so

override_dh_auto_test:
	set -eu; \
	osk="$$(find .pybuild -path '*/Onboard/osk*.so' -print -quit)"; \
	lm="$$(find .pybuild -path '*/Onboard/pypredict/lm*.so' -print -quit)"; \
	test -n "$$osk"; test -n "$$lm"; \
	osk="$$(readlink -f "$$osk")"; lm="$$(readlink -f "$$lm")"; \
	ln -sf "$$osk" Onboard/; \
	ln -sf "$$lm" Onboard/pypredict/; \
	trap 'rm -f Onboard/osk*.so Onboard/pypredict/lm*.so' EXIT; \
			xvfb-run -a python3 -m unittest \

		Onboard.test.test_WaylandCapabilities \
		Onboard.test.test_ClipboardHistory \
		Onboard.test.test_InputSources \
		Onboard.test.test_LayoutLoaderSVG

override_dh_auto_install:
	dh_auto_install -O--buildsystem=pybuild
	install -Dm644 build/desktop/onboard-autostart.desktop \
		debian/tmp/etc/xdg/autostart/onboard-autostart.desktop

override_dh_install:
	rm -f debian/tmp/usr/share/onboard/COPYING
	rm -f debian/tmp/usr/share/onboard/COPYING.GPL3
	rm -f debian/tmp/usr/share/onboard/HACKING
	rm -f debian/tmp/usr/share/onboard/COPYING.BSD3
	
	dh_install

override_dh_missing:
	dh_missing --list-missing

get-orig-source:
	uscan --noconf --force-download --rename --download-current-version --destdir=..
